<div class="row" style="border:2px solid black; margin:0 auto; padding:20px;">
    <div class="col-md-2">
        Name
    </div>
    <div class="col-md-10">
        <input type="text" id="txtProductName" class="form-control" placeholder="Enter product name" />
    </div>
    <div class="col-md-2">
        Price
    </div>
    <div class="col-md-10">
        <input type="text" id="txtProductPrice" class="form-control" placeholder="Enter product price" />
    </div>
    <div class="col-md-2">
        Quantity
    </div>
    <div class="col-md-10">
        <input type="text" id="txtProductQuantity" class="form-control" placeholder="Enter product quantity" />
    </div>
    <div class="col-md-12">
        <button class="btn btn-primary" onclick="SaveProduct()">Save product</button>
        <button class="btn btn-danger">Reset</button>
    </div>
</div>
<br/>
<div class="row" >
    <table class="table table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Active</th>
                <th>Delete</th>
                @*<th>Edit</th>*@
            </tr>
        </thead>
        <tbody id="tblProductBody"></tbody>
    </table>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Scripts/Product.js"></script>
